
@inject SignInManager<ApplicationUser> smanager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LinkedIn Email Finder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="container-fluid">
            
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-light navbar-light   border-bottom box-shadow mb-3">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LinkedIn Email Finder</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>

                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 header-color mt-2">


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Help">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="subscriptions" asp-action="index">Buy</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {<li class="nav-item mt-2">
                            <div class="dropdown">
                                &nbsp;
                                <button type="button" class="btn btn-outline-info dropdown-toggle ml-auto" data-toggle="dropdown">
                                    Edit
                                </button>
                                <div class="dropdown-menu">
                                    <a  class="ml-3" asp-action="changepassword" asp-controller="account" asp-route-username="@User.Identity.Name">Change Password</a>
                                    <a class="ml-3"asp-action="EditUserByUserName" asp-controller="account" asp-route-username="@User.Identity.Name">Edit Profile</a>
                                    
                                </div>
                            </div>                         
                                                   
                            </li>
                          
                        }

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item mt-2">
                                <a class="nav-link text-dark" asp-area="" asp-controller="account" asp-action="register">Register</a>
                            </li>
                            <li class="nav-item ml-auto">
                                <a class="nav-link text-dark " asp-area="" asp-controller="Login" asp-action="login">Login</a>
                            </li>
                        }
                        else if (User.Identity.IsAuthenticated)
                        {

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <div class="dropdown mt-2 ml-auto ">
                                        &nbsp;
                                        <button type="button" class="btn btn-outline-info dropdown-toggle ml-auto" data-toggle="dropdown">
                                            Admin
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" asp-area="" asp-controller="administration" asp-action="index">Manage Roles</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="account" asp-action="userlist">Manage Users</a>
                                            <a class="dropdown-item" asp-controller="subscriptions" asp-action="create">Manage Subscriptions</a>
                                            <a class="dropdown-item" asp-controller="subscriptionpurchases" asp-action="index">Disable Subscriptions</a>
                                        </div>
                                    </div>
                                </li>



                            }
                            <li class="nav-item ml-auto">
                                <form method="post" id="frmLogout">
                                    <button asp-action="logout" asp-controller="Login" class=" btn btn-info ">Sign out @User.Identity.Name</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
        </nav>
            </div>



    

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-light">
    <div class="ml-4">
            &copy; 2020 - Linkedin Email Finder - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
   
</body>
</html>
